@charset "UTF-8";
/* Fuente utilizada: https://fonts.google.com/share?selection.family=Joan%7COpen%20Sans%7CRaleway:wght@400;800%7CRoboto:ital,wght@0,300;1,400 */
@import url("https://fonts.googleapis.com/css2?family=Joan&family=Open+Sans&family=Raleway:wght@400;800&family=Roboto:ital,wght@0,300;1,400&display=swap");
/* Usar la siguiente paleta de colores: https://coolors.co/palette/2b2f38-2f343e-3b404b-474b57-585b66-676a74-757881-82848c-8d8f96-9799a0 */
* {
  padding: 0;
  margin: 0;
  font-family: "Joan", sans-serif;
}

body {
  background-color: #F8F9FA;
}

li {
  list-style: none;
}

a {
  font-family: "Joan", sans-serif;
  color: #F8F9FA;
  text-decoration: none;
}

.top {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  font-family: "Joan", sans-serif;
}

.top__logotipo {
  width: 50px;
  height: 50px;
}

.menu-navegacion {
  background-color: #2B2F38;
}

.menu-navegacion-boton {
  background-color: #2B2F38;
}

.menu-navegacion-pagina-mobile {
  color: #F8F9FA;
}

.nav-bar__lista {
  background-color: #2B2F38;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.nav-bar__lista a {
  padding: 7px 7px;
}

.nav-bar__lista a:hover {
  color: #2B2F38;
  background-color: #F8F9FA;
  transition: all 0.2s;
}

.contenido-principal-box {
  display: flex;
}

.contenido-principal__imagen img {
  max-width: 500px;
}

.contenido-principal__imagen img:hover {
  transform: scale(1.02);
  transition: 0.2s;
}

.contenido-principal__texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenido-principal__texto p {
  font-size: large;
}

.contenido-principal__titulo, .contenido-principal__descripcion {
  font-size: xx-large;
  margin: 20px;
  text-decoration: underline rgba(43, 47, 56, 0);
}

.contenido-principal__titulo:hover, .contenido-principal__descripcion:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}

.contenido-principal__descripcion {
  margin: 20px;
  font-size: x-large;
}

.noticias-destacadas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.noticia-destacada__item {
  display: flex;
}

.noticia-destacada__img {
  max-height: 75px;
  display: none;
}

.noticia-destacada__titulo {
  text-decoration: underline rgba(43, 47, 56, 0);
  font-size: large;
}

.noticia-destacada__titulo:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}

.contenido-destacado {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contenido-destacado__item {
  max-width: 350px;
}

.contenido-destacado__item h3 {
  font-size: x-large;
}

.contenido-destacado__item:hover {
  text-decoration: underline;
}

.contenido-destacado__item img {
  max-width: 350px;
}

.contenido-destacado__item img:hover {
  transform: scale(1.02);
  transition: 0.2s;
}

@media (max-width: 950px) {
  .contenido-principal-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
  .contenido-principal__imagen img {
    max-width: 100%;
  }
  .contenido-principal__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
  .contenido-principal__titulo {
    margin: 0;
  }
  .contenido-principal__descripcion {
    display: none;
  }
  .noticias-destacadas {
    margin: 20px 0;
  }
  .noticias-destacadas__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contenido-destacado {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .contenido-destacado__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contenido-destacado__item img {
    max-width: 100%;
    padding: 25px 0;
  }
}
.articulos-y-ensayos {
  background-color: #2B2F38;
  color: #F8F9FA;
  font-family: "Joan", sans-serif;
  text-align: center;
  margin: 50px 0;
  padding: 5px 0;
  font-size: x-large;
}

.articulos-y-ensayos__imagen {
  max-height: 250px;
}

.articulos-y-ensayos__imagen:hover {
  transform: scale(1.02);
  transition: 0.2s;
}

.articulos-y-ensayos__contenido__item h3, .articulos-y-ensayos__contenido__item p {
  text-decoration: underline rgba(43, 47, 56, 0);
}

.articulos-y-ensayos__contenido__item h3:hover, .articulos-y-ensayos__contenido__item p:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}

.articulos-y-ensayos__contenido {
  margin: 50px 0;
  text-align: center;
}

.articulos-y-ensayos__contenido {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: 1fr;
  row-gap: 20px;
}

@media (max-width: 950px) {
  .articulos-y-ensayos__imagen {
    max-width: 100%;
  }
}
.resenas {
  background-color: #2B2F38;
  color: #F8F9FA;
  font-family: "Joan", sans-serif;
  text-align: center;
  margin: 50px 0;
  padding: 5px 0;
  font-size: x-large;
}

.resena__album h3, .resena__album p {
  text-decoration: underline rgba(43, 47, 56, 0);
}

.resena__album h3:hover, .resena__album p:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}

.resena__album img {
  max-height: 250px;
  max-width: 250px;
}

.resena__album img:hover {
  transform: scale(1.02);
  transition: 0.2s;
}

.resenas__albumes {
  margin: 50px 0;
  text-align: center;
}

.resenas__albumes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: 1fr;
  row-gap: 20px;
}

@media (max-width: 950px) {
  .resena__album img {
    max-width: 100%;
  }
}
.pie-de-pagina {
  background-color: #585B66;
  padding: 10px 0;
  position: relative;
}

.nav-fondo {
  font-family: "Joan", sans-serif;
  font-weight: 800;
}

.nav-fondo a:hover {
  color: #2B2F38;
  background-color: #F8F9FA;
  transition: all 0.2s;
}

.apartado-fondo {
  padding: 5px 15px;
}

.redes-sociales {
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 0 15px;
}

.icono-red-social {
  width: 50px;
  height: 50px;
}

.logotipo-fondo {
  position: absolute;
  bottom: 0;
  right: 0;
}

.logotipo-fondo-imagen {
  width: 100px;
  height: auto;
  max-width: 200px;
}

.redes-sociales {
  padding: 0 25px;
}

/* NOTICIAS */
.destacadas, .recientes {
  font-family: "Joan", serif;
}

.destacadas__titulo {
  background-color: #2B2F38;
  color: #F8F9FA;
  text-align: center;
  margin: 40px 0;
  padding: 5px 0;
}

.destacadas__contenido {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.destacadas__contenido__principal {
  grid-area: 1/1/2/2;
}

.destacadas__contenido__otras {
  grid-area: 1/2/3/3;
}

.vacio {
  grid-area: 2/1/3/2;
}

.destacadas__contenido__principal {
  display: flex;
}

.destacadas__contenido__principal__texto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 25px;
}

.destacadas__contenido__principal__texto__titulo, .destacadas__contenido__principal__texto__autor, .destacadas__contenido__principal__texto__resumen {
  text-decoration: underline rgba(43, 47, 56, 0);
}

.destacadas__contenido__principal__texto__titulo:hover, .destacadas__contenido__principal__texto__autor:hover, .destacadas__contenido__principal__texto__resumen:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}

.destacadas__contenido__otras {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.destacadas__contenido__otras__item {
  display: flex;
  align-items: center;
}

.destacadas__contenido__otras__item__titulo {
  margin: 0 25px;
  text-decoration: underline rgba(43, 47, 56, 0);
}

.destacadas__contenido__otras__item__titulo:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}

.destacadas__contenido__principal__img {
  height: 200px;
}

.destacadas__contenido__principal__img:hover {
  transform: scale(1.02);
  transition: 0.2s;
}

.destacadas__contenido__otras img {
  max-height: 75px;
}

.destacadas__contenido__otras img:hover {
  transform: scale(1.02);
  transition: 0.2s;
}

.recientes__titulo {
  background-color: #2B2F38;
  color: #F8F9FA;
  text-align: center;
  margin: 40px 0;
  padding: 5px 0;
}

.recientes img {
  height: 100px;
}

.recientes img:hover {
  transform: scale(1.02);
  transition: 0.2s;
}

.recientes__contenido {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.recientes__contenido__item {
  display: flex;
  margin: 20px 0;
}

.recientes__contenido__item__imagen img {
  min-height: 150px;
}

.recientes__contenido__item__texto {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: underline rgba(43, 47, 56, 0);
}

.recientes__contenido__item__texto__titulo {
  font-size: x-large;
  text-decoration: underline rgba(43, 47, 56, 0);
}

.recientes__contenido__item__texto__autor {
  font-size: small;
  text-decoration: underline rgba(43, 47, 56, 0);
}

.recientes__contenido__item__texto__resumen {
  text-decoration: underline rgba(43, 47, 56, 0);
}

.recientes__contenido__item__texto__titulo:hover, .recientes__contenido__item__texto__autor:hover, .recientes__contenido__item__texto__resumen:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}

/* RESEÑAS */
.mas-leidas, .resenas-reciente {
  margin: 50px 0;
  /* text-align: center; */
  font-family: "Joan", serif;
}

.mas-leidas__titulo, .resenas-recientes__titulo {
  background-color: #2B2F38;
  color: #F8F9FA;
  text-align: center;
  margin: 40px 0;
  padding: 5px 0;
  font-size: x-large;
}

.mas-leidas__contenido, .resenas-recientes__contenido {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: 1fr;
  row-gap: 10px;
  column-gap: 10px;
  text-align: center;
  margin: 50px 0;
}

.resenas-recientes__contenido__item img, .mas-leidas__contenido__item img {
  max-height: 250px;
  max-width: 250px;
}

.resenas-recientes__contenido__item img:hover, .mas-leidas__contenido__item img:hover {
  transform: scale(1.02);
  transition: 0.2s;
}

.mas-leidas__contenido__item__titulo, .mas-leidas__contenido__item__artista, .mas-leidas__contenido__item__autor, .resenas-recientes__contenido__item__titulo, .resenas-recientes__contenido__item__artista, .resenas-recientes__contenido__item__autor {
  text-decoration: underline rgba(43, 47, 56, 0);
}

.mas-leidas__contenido__item__titulo:hover, .mas-leidas__contenido__item__artista:hover, .mas-leidas__contenido__item__autor:hover, .resenas-recientes__contenido__item__titulo:hover, .resenas-recientes__contenido__item__artista:hover, .resenas-recientes__contenido__item__autor:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}

/* PLAYLISTS */
.semana, .mas-escuchadas, .usuarios {
  font-family: "Joan", serif;
}

.semana__titulo, .mas-escuchadas__titulo, .usuarios__titulo {
  background-color: #2B2F38;
  color: #F8F9FA;
  text-align: center;
  margin: 40px 0;
  padding: 5px 0;
  text-decoration: underline rgba(43, 47, 56, 0);
}

.semana__playlist, .mas-escuchadas__playlist, .usuarios__playlist {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.contacto-redes, .contacto-escribenos {
  font-family: "Joan", serif;
}

.contacto-redes__titulo, .contacto-escribenos__titulo {
  color: #2B2F38;
  text-align: center;
  margin: 40px 0;
  padding: 5px 0;
}

/* CONTACTO */
.contacto-redes__acceso__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 10px 0;
}

.contacto-redes__acceso__item__icono {
  grid-area: 1/1/2/2;
}

.contacto-redes__acceso__item__nombre {
  grid-area: 1/2/2/3;
}

.contacto-redes__acceso__item__icono {
  display: flex;
  justify-content: flex-end;
  margin: 0 10px;
}

.contacto-redes__acceso__item__icono img:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

.contacto-redes__acceso__item__nombre {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 10px;
}

.contacto-redes__acceso__item__nombre a {
  color: black;
}

.contacto-escribenos__formulario {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 25%;
}

/* ARTÍCULOS Y ENSAYOS */
.articulo-destacado, .otros-articulos {
  font-family: "Joan", serif;
}

.articulo-destacado {
  display: flex;
  justify-content: center;
  margin: 45px 0;
}

.articulo-destacado__contenido {
  display: flex;
}

.articulo-destacado__contenido__imagen img {
  height: 250px;
}

.articulo-destacado__contenido__imagen img:hover {
  transform: scale(1.02);
  transition: 0.2s;
}

.articulo-destacado__contenido__texto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 25px;
}

.articulo-destacado__contenido__texto__titulo {
  font-size: xx-large;
  text-decoration: underline rgba(43, 47, 56, 0);
}

.articulo-destacado__contenido__texto__titulo:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}

.articulo-destacado__contenido__texto__autor {
  text-decoration: underline rgba(43, 47, 56, 0);
}

.articulo-destacado__contenido__texto__autor:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}

.articulo-destacado__contenido__texto__descripcion {
  font-size: x-large;
  text-decoration: underline rgba(43, 47, 56, 0);
}

.articulo-destacado__contenido__texto__descripcion:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}

.otros-articulos__primera-fila {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 50px;
  text-align: center;
  margin: 100px 0;
}

.otros-articulos__primera-fila img {
  height: 200px;
}

.otros-articulos__primera-fila img:hover {
  transform: scale(1.02);
  transition: 0.2s;
}

.otros-articulos__resto {
  margin: 45px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 100px;
  text-align: center;
  margin: 50px 0;
}

.otros-articulos__resto img {
  height: 175px;
}

.otros-articulos__resto img:hover {
  transform: scale(1.02);
  transition: 0.2s;
}

.otros-articulos__primera-fila__item__titulo, .otros-articulos__primera-fila__item__autor, .otros-articulos__resto__item__titulo, .otros-articulos__resto__item__autor {
  text-decoration: underline rgba(43, 47, 56, 0);
}

.otros-articulos__primera-fila__item__titulo:hover, .otros-articulos__primera-fila__item__autor:hover, .otros-articulos__resto__item__titulo:hover, .otros-articulos__resto__item__autor:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}

/*# sourceMappingURL=style.css.map */
