/* Fuente utilizada: https://fonts.google.com/share?selection.family=Joan%7COpen%20Sans%7CRaleway:wght@400;800%7CRoboto:ital,wght@0,300;1,400 */
@import url("https://fonts.googleapis.com/css2?family=Joan&family=Open+Sans&family=Raleway:wght@400;800&family=Roboto:ital,wght@0,300;1,400&display=swap");
/* Usar la siguiente paleta de colores: https://coolors.co/palette/2b2f38-2f343e-3b404b-474b57-585b66-676a74-757881-82848c-8d8f96-9799a0 */
body {
  background-color: #F8F9FA;
}
body li {
  list-style: none;
}
body a {
  font-family: "Joan", sans-serif;
  color: #F8F9FA;
  text-decoration: none;
}

.encabezado .top {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.encabezado .top .top__logotipo {
  width: 50px;
  height: 50px;
}
.encabezado .top .titulo {
  font-family: "Joan", sans-serif;
}
.encabezado .menu .menu-navegacion {
  background-color: #2B2F38;
}
.encabezado .menu .menu-navegacion .menu-navegacion-boton {
  background-color: #2B2F38;
}
.encabezado .menu .menu-navegacion .menu-navegacion-pagina-mobile {
  font-family: "Joan", sans-serif;
  color: #F8F9FA;
}
.encabezado .menu .menu-navegacion .nav-bar-list-container .nav-bar__lista {
  background-color: #2B2F38;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.encabezado .menu .menu-navegacion .nav-bar-list-container .nav-bar__lista a {
  padding: 7px 7px;
}
.encabezado .menu .menu-navegacion .nav-bar-list-container .nav-bar__lista a:hover {
  color: #2B2F38;
  background-color: #F8F9FA;
  transition: all 0.2s;
}

.principal .contenido-principal-box {
  display: flex;
}
.principal .contenido-principal-box .contenido-principal__imagen img {
  max-width: 500px;
}
.principal .contenido-principal-box .contenido-principal__imagen img:hover {
  transform: scale(1.02);
  transition: 0.2s;
}
@media (max-width: 950px) {
  .principal .contenido-principal-box .contenido-principal__imagen img {
    max-width: 100%;
  }
}
.principal .contenido-principal-box .contenido-principal__texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.principal .contenido-principal-box .contenido-principal__texto p {
  font-size: large;
}
@media (max-width: 950px) {
  .principal .contenido-principal-box .contenido-principal__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.principal .contenido-principal-box .contenido-principal__texto .contenido-principal__titulo {
  font-size: xx-large;
  margin: 20px;
  text-decoration: underline rgba(43, 47, 56, 0);
}
.principal .contenido-principal-box .contenido-principal__texto .contenido-principal__titulo:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}
@media (max-width: 950px) {
  .principal .contenido-principal-box .contenido-principal__texto .contenido-principal__titulo {
    margin: 0;
  }
}
.principal .contenido-principal-box .contenido-principal__texto .contenido-principal__descripcion {
  font-size: large;
  margin: 20px;
  text-decoration: underline rgba(43, 47, 56, 0);
}
.principal .contenido-principal-box .contenido-principal__texto .contenido-principal__descripcion:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}
@media (max-width: 950px) {
  .principal .contenido-principal-box .contenido-principal__texto .contenido-principal__descripcion {
    display: none;
  }
}
@media (max-width: 950px) {
  .principal .contenido-principal-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
}
.principal .noticias-destacadas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}
.principal .noticias-destacadas .noticia-destacada__item {
  display: flex;
}
.principal .noticias-destacadas .noticia-destacada__item .noticia-destacada__item__imagen .noticia-destacada__img {
  max-height: 75px;
  display: none;
}
.principal .noticias-destacadas .noticia-destacada__item .noticia-destacada__item__titulo .noticia-destacada__titulo {
  text-decoration: underline rgba(43, 47, 56, 0);
  font-size: large;
}
.principal .noticias-destacadas .noticia-destacada__item .noticia-destacada__item__titulo .noticia-destacada__titulo:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}
@media (max-width: 950px) {
  .principal .noticias-destacadas .noticia-destacada__item {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 950px) {
  .principal .noticias-destacadas {
    margin: 20px 0;
  }
}
.principal .contenido-destacado-container .contenido-destacado {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 950px) {
  .principal .contenido-destacado-container .contenido-destacado {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}
.principal .contenido-destacado-container .contenido-destacado .contenido-destacado__item {
  max-width: 350px;
}
.principal .contenido-destacado-container .contenido-destacado .contenido-destacado__item h3 {
  font-size: x-large;
}
.principal .contenido-destacado-container .contenido-destacado .contenido-destacado__item:hover {
  text-decoration: underline;
}
.principal .contenido-destacado-container .contenido-destacado .contenido-destacado__item img {
  max-width: 350px;
}
@media (max-width: 950px) {
  .principal .contenido-destacado-container .contenido-destacado .contenido-destacado__item img {
    max-width: 100%;
    padding: 25px 0;
  }
}
.principal .contenido-destacado-container .contenido-destacado .contenido-destacado__item img:hover {
  transform: scale(1.02);
  transition: 0.2s;
}
@media (max-width: 950px) {
  .principal .contenido-destacado-container .contenido-destacado .contenido-destacado__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.seccion-articulos-y-ensayos .seccion-articulos-y-ensayos__barra .articulos-y-ensayos {
  background-color: #2B2F38;
  color: #F8F9FA;
  font-family: "Joan", sans-serif;
  text-align: center;
  margin: 50px 0;
  padding: 5px 0;
  font-size: x-large;
}
.seccion-articulos-y-ensayos .articulos-y-ensayos__contenido {
  margin: 50px 0;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: 1fr;
  row-gap: 20px;
}
.seccion-articulos-y-ensayos .articulos-y-ensayos__contenido .articulos-y-ensayos__contenido__item .articulos-y-ensayos__imagen {
  max-height: 250px;
}
.seccion-articulos-y-ensayos .articulos-y-ensayos__contenido .articulos-y-ensayos__contenido__item .articulos-y-ensayos__imagen:hover {
  transform: scale(1.02);
  transition: 0.2s;
}
@media (max-width: 950px) {
  .seccion-articulos-y-ensayos .articulos-y-ensayos__contenido .articulos-y-ensayos__contenido__item .articulos-y-ensayos__imagen {
    max-width: 100%;
  }
}
.seccion-articulos-y-ensayos .articulos-y-ensayos__contenido .articulos-y-ensayos__contenido__item h3 {
  text-decoration: underline rgba(43, 47, 56, 0);
}
.seccion-articulos-y-ensayos .articulos-y-ensayos__contenido .articulos-y-ensayos__contenido__item h3:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}
.seccion-articulos-y-ensayos .articulos-y-ensayos__contenido .articulos-y-ensayos__contenido__item p {
  text-decoration: underline rgba(43, 47, 56, 0);
}
.seccion-articulos-y-ensayos .articulos-y-ensayos__contenido .articulos-y-ensayos__contenido__item p:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}

.resenas-home .resenas-home-barra .resenas {
  background-color: #2B2F38;
  color: #F8F9FA;
  font-family: "Joan", sans-serif;
  text-align: center;
  margin: 50px 0;
  padding: 5px 0;
  font-size: x-large;
}
.resenas-home .resenas-home-container .resenas__albumes {
  margin: 50px 0;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: 1fr;
  row-gap: 20px;
}
.resenas-home .resenas-home-container .resenas__albumes .resena__album img {
  max-height: 250px;
  max-width: 250px;
}
.resenas-home .resenas-home-container .resenas__albumes .resena__album img:hover {
  transform: scale(1.02);
  transition: 0.2s;
}
@media (max-width: 950px) {
  .resenas-home .resenas-home-container .resenas__albumes .resena__album img {
    max-width: 100%;
  }
}
.resenas-home .resenas-home-container .resenas__albumes .resena__album h3 {
  text-decoration: underline rgba(43, 47, 56, 0);
}
.resenas-home .resenas-home-container .resenas__albumes .resena__album h3:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}
.resenas-home .resenas-home-container .resenas__albumes .resena__album p {
  text-decoration: underline rgba(43, 47, 56, 0);
}
.resenas-home .resenas-home-container .resenas__albumes .resena__album p:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}

.pie-de-pagina {
  background-color: #585B66;
  padding: 10px 0;
  position: relative;
}
.pie-de-pagina .nav-fondo {
  font-family: "Joan", sans-serif;
  font-weight: 800;
}
.pie-de-pagina .nav-fondo a:hover {
  color: #2B2F38;
  background-color: #F8F9FA;
  transition: all 0.2s;
}
.pie-de-pagina .nav-fondo .apartado-fondo {
  padding: 5px 15px;
}
.pie-de-pagina .redes-sociales-container .redes-sociales {
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 0 25px;
}
.pie-de-pagina .redes-sociales-container .redes-sociales .icono-red-social {
  width: 50px;
  height: 50px;
}
.pie-de-pagina .logotipo-fondo {
  position: absolute;
  bottom: 0;
  right: 0;
}
.pie-de-pagina .logotipo-fondo .logotipo-fondo-imagen {
  width: 100px;
  height: auto;
  max-width: 200px;
}

.destacadas {
  font-family: "Joan", sans-serif;
}
.destacadas .destacadas__titulo {
  background-color: #2B2F38;
  color: #F8F9FA;
  font-size: x-large;
  text-align: center;
  margin: 40px 0;
  padding: 5px 0;
}
.destacadas .destacadas__contenido {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.destacadas .destacadas__contenido .destacadas__contenido__principal {
  grid-area: 1/1/2/2;
  display: flex;
}
.destacadas .destacadas__contenido .destacadas__contenido__principal .destacadas__contenido__principal__img {
  height: 200px;
}
.destacadas .destacadas__contenido .destacadas__contenido__principal .destacadas__contenido__principal__img:hover {
  transform: scale(1.02);
  transition: 0.2s;
}
.destacadas .destacadas__contenido .destacadas__contenido__principal .destacadas__contenido__principal__texto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 25px;
}
.destacadas .destacadas__contenido .destacadas__contenido__principal .destacadas__contenido__principal__texto .destacadas__contenido__principal__texto__titulo {
  text-decoration: underline rgba(43, 47, 56, 0);
}
.destacadas .destacadas__contenido .destacadas__contenido__principal .destacadas__contenido__principal__texto .destacadas__contenido__principal__texto__titulo:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}
.destacadas .destacadas__contenido .destacadas__contenido__principal .destacadas__contenido__principal__texto .destacadas__contenido__principal__texto__autor {
  text-decoration: underline rgba(43, 47, 56, 0);
}
.destacadas .destacadas__contenido .destacadas__contenido__principal .destacadas__contenido__principal__texto .destacadas__contenido__principal__texto__autor:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}
.destacadas .destacadas__contenido .destacadas__contenido__principal .destacadas__contenido__principal__texto .destacadas__contenido__principal__texto__resumen {
  text-decoration: underline rgba(43, 47, 56, 0);
}
.destacadas .destacadas__contenido .destacadas__contenido__principal .destacadas__contenido__principal__texto .destacadas__contenido__principal__texto__resumen:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}
.destacadas .destacadas__contenido .destacadas__contenido__otras {
  grid-area: 1/2/3/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.destacadas .destacadas__contenido .destacadas__contenido__otras .destacadas__contenido__otras__item {
  display: flex;
  align-items: center;
}
.destacadas .destacadas__contenido .destacadas__contenido__otras .destacadas__contenido__otras__item .destacadas__contenido__otras__item__titulo {
  margin: 0 25px;
  text-decoration: underline rgba(43, 47, 56, 0);
}
.destacadas .destacadas__contenido .destacadas__contenido__otras .destacadas__contenido__otras__item .destacadas__contenido__otras__item__titulo:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}
.destacadas .destacadas__contenido .destacadas__contenido__otras img {
  max-height: 75px;
}
.destacadas .destacadas__contenido .destacadas__contenido__otras img:hover {
  transform: scale(1.02);
  transition: 0.2s;
}
.destacadas .destacadas__contenido .destacadas__contenido__otras .destacadas__contenido__otras__vacio {
  grid-area: 2/1/3/2;
}

.recientes {
  font-family: "Joan", sans-serif;
}
.recientes .recientes__titulo {
  background-color: #2B2F38;
  color: #F8F9FA;
  font-size: x-large;
  text-align: center;
  margin: 40px 0;
  padding: 5px 0;
}
.recientes .recientes__contenido {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.recientes .recientes__contenido .recientes__contenido__item {
  display: flex;
  margin: 20px 0;
}
.recientes .recientes__contenido .recientes__contenido__item .recientes__contenido__item__imagen img {
  height: 100px;
}
.recientes .recientes__contenido .recientes__contenido__item .recientes__contenido__item__imagen img:hover {
  transform: scale(1.02);
  transition: 0.2s;
}
.recientes .recientes__contenido .recientes__contenido__item .recientes__contenido__item__texto {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: underline rgba(43, 47, 56, 0);
}
.recientes .recientes__contenido .recientes__contenido__item .recientes__contenido__item__texto .recientes__contenido__item__texto__titulo {
  font-size: x-large;
  text-decoration: underline rgba(43, 47, 56, 0);
}
.recientes .recientes__contenido .recientes__contenido__item .recientes__contenido__item__texto .recientes__contenido__item__texto__titulo:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}
.recientes .recientes__contenido .recientes__contenido__item .recientes__contenido__item__texto .recientes__contenido__item__texto__autor {
  font-size: small;
  text-decoration: underline rgba(43, 47, 56, 0);
}
.recientes .recientes__contenido .recientes__contenido__item .recientes__contenido__item__texto .recientes__contenido__item__texto__autor:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}
.recientes .recientes__contenido .recientes__contenido__item .recientes__contenido__item__texto .recientes__contenido__item__texto__resumen {
  text-decoration: underline rgba(43, 47, 56, 0);
}
.recientes .recientes__contenido .recientes__contenido__item .recientes__contenido__item__texto .recientes__contenido__item__texto__resumen:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}

.mas-leidas {
  margin: 50px 0;
  font-family: "Joan", sans-serif;
}
.mas-leidas .mas-leidas__titulo {
  background-color: #2B2F38;
  color: #F8F9FA;
  text-align: center;
  margin: 40px 0;
  padding: 5px 0;
  font-size: x-large;
}
.mas-leidas .mas-leidas__contenido {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: 1fr;
  row-gap: 10px;
  column-gap: 10px;
  text-align: center;
  margin: 50px 0;
}
.mas-leidas .mas-leidas__contenido .mas-leidas__contenido__item .mas-leidas__contenido__item__imagen {
  max-height: 250px;
  max-width: 250px;
}
.mas-leidas .mas-leidas__contenido .mas-leidas__contenido__item .mas-leidas__contenido__item__imagen:hover {
  transform: scale(1.02);
  transition: 0.2s;
}
.mas-leidas .mas-leidas__contenido .mas-leidas__contenido__item .mas-leidas__contenido__item__titulo {
  text-decoration: underline rgba(43, 47, 56, 0);
}
.mas-leidas .mas-leidas__contenido .mas-leidas__contenido__item .mas-leidas__contenido__item__titulo:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}
.mas-leidas .mas-leidas__contenido .mas-leidas__contenido__item .mas-leidas__contenido__item__artista {
  text-decoration: underline rgba(43, 47, 56, 0);
}
.mas-leidas .mas-leidas__contenido .mas-leidas__contenido__item .mas-leidas__contenido__item__artista:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}
.mas-leidas .mas-leidas__contenido .mas-leidas__contenido__item .mas-leidas__contenido__item__autor {
  text-decoration: underline rgba(43, 47, 56, 0);
}
.mas-leidas .mas-leidas__contenido .mas-leidas__contenido__item .mas-leidas__contenido__item__autor:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}

.resenas-recientes {
  margin: 50px 0;
  font-family: "Joan", sans-serif;
}
.resenas-recientes .resenas-recientes__titulo {
  background-color: #2B2F38;
  color: #F8F9FA;
  text-align: center;
  margin: 40px 0;
  padding: 5px 0;
  font-size: x-large;
}
.resenas-recientes .resenas-recientes__contenido {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: 1fr;
  row-gap: 10px;
  column-gap: 10px;
  text-align: center;
  margin: 50px 0;
}
.resenas-recientes .resenas-recientes__contenido .resenas-recientes__contenido__item .resenas-recientes__contenido__item__imagen {
  max-height: 250px;
  max-width: 250px;
}
.resenas-recientes .resenas-recientes__contenido .resenas-recientes__contenido__item .resenas-recientes__contenido__item__imagen:hover {
  transform: scale(1.02);
  transition: 0.2s;
}
.resenas-recientes .resenas-recientes__contenido .resenas-recientes__contenido__item .resenas-recientes__contenido__item__titulo {
  text-decoration: underline rgba(43, 47, 56, 0);
}
.resenas-recientes .resenas-recientes__contenido .resenas-recientes__contenido__item .resenas-recientes__contenido__item__titulo:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}
.resenas-recientes .resenas-recientes__contenido .resenas-recientes__contenido__item .resenas-recientes__contenido__item__artista {
  text-decoration: underline rgba(43, 47, 56, 0);
}
.resenas-recientes .resenas-recientes__contenido .resenas-recientes__contenido__item .resenas-recientes__contenido__item__artista:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}
.resenas-recientes .resenas-recientes__contenido .resenas-recientes__contenido__item .resenas-recientes__contenido__item__autor {
  text-decoration: underline rgba(43, 47, 56, 0);
}
.resenas-recientes .resenas-recientes__contenido .resenas-recientes__contenido__item .resenas-recientes__contenido__item__autor:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}

.articulo-destacado {
  font-family: "Joan", serif;
  display: flex;
  justify-content: center;
  margin: 45px 0;
}
.articulo-destacado .articulo-destacado__contenido {
  display: flex;
}
.articulo-destacado .articulo-destacado__contenido .articulo-destacado__contenido__imagen img {
  height: 250px;
}
.articulo-destacado .articulo-destacado__contenido .articulo-destacado__contenido__imagen img:hover {
  transform: scale(1.02);
  transition: 0.2s;
}
.articulo-destacado .articulo-destacado__contenido .articulo-destacado__contenido__texto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 25px;
}
.articulo-destacado .articulo-destacado__contenido .articulo-destacado__contenido__texto .articulo-destacado__contenido__texto__titulo {
  font-size: xx-large;
  text-decoration: underline rgba(43, 47, 56, 0);
}
.articulo-destacado .articulo-destacado__contenido .articulo-destacado__contenido__texto .articulo-destacado__contenido__texto__titulo:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}
.articulo-destacado .articulo-destacado__contenido .articulo-destacado__contenido__texto .articulo-destacado__contenido__texto__autor {
  text-decoration: underline rgba(43, 47, 56, 0);
}
.articulo-destacado .articulo-destacado__contenido .articulo-destacado__contenido__texto .articulo-destacado__contenido__texto__autor:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}
.articulo-destacado .articulo-destacado__contenido .articulo-destacado__contenido__texto .articulo-destacado__contenido__texto__descripcion {
  font-size: x-large;
  text-decoration: underline rgba(43, 47, 56, 0);
}
.articulo-destacado .articulo-destacado__contenido .articulo-destacado__contenido__texto .articulo-destacado__contenido__texto__descripcion:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}

.otros-articulos {
  font-family: "Joan", serif;
}
.otros-articulos .otros-articulos__primera-fila {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 50px;
  text-align: center;
  margin: 100px 0;
}
.otros-articulos .otros-articulos__primera-fila .otros-articulos__primera-fila__item .otros-articulos__primera-fila__item__imagen {
  height: 200px;
}
.otros-articulos .otros-articulos__primera-fila .otros-articulos__primera-fila__item .otros-articulos__primera-fila__item__imagen:hover {
  transform: scale(1.02);
  transition: 0.2s;
}
.otros-articulos .otros-articulos__primera-fila .otros-articulos__primera-fila__item .otros-articulos__primera-fila__item__titulo {
  text-decoration: underline rgba(43, 47, 56, 0);
}
.otros-articulos .otros-articulos__primera-fila .otros-articulos__primera-fila__item .otros-articulos__primera-fila__item__titulo:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}
.otros-articulos .otros-articulos__primera-fila .otros-articulos__primera-fila__item .otros-articulos__primera-fila__item__autor {
  text-decoration: underline rgba(43, 47, 56, 0);
}
.otros-articulos .otros-articulos__primera-fila .otros-articulos__primera-fila__item .otros-articulos__primera-fila__item__autor:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}
.otros-articulos .otros-articulos__resto {
  margin: 45px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 100px;
  text-align: center;
  margin: 50px 0;
}
.otros-articulos .otros-articulos__resto .otros-articulos__resto__item .otros-articulos__resto__item__imagen {
  height: 175px;
}
.otros-articulos .otros-articulos__resto .otros-articulos__resto__item .otros-articulos__resto__item__imagen:hover {
  transform: scale(1.02);
  transition: 0.2s;
}
.otros-articulos .otros-articulos__resto .otros-articulos__resto__item .otros-articulos__resto__item__titulo {
  text-decoration: underline rgba(43, 47, 56, 0);
}
.otros-articulos .otros-articulos__resto .otros-articulos__resto__item .otros-articulos__resto__item__titulo:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}
.otros-articulos .otros-articulos__resto .otros-articulos__resto__item .otros-articulos__resto__item__autor {
  text-decoration: underline rgba(43, 47, 56, 0);
}
.otros-articulos .otros-articulos__resto .otros-articulos__resto__item .otros-articulos__resto__item__autor:hover {
  text-decoration-color: rgb(43, 47, 56);
  transition: 0.2s;
}

.semana {
  font-family: "Joan", sans-serif;
}
.semana .semana__titulo {
  background-color: #2B2F38;
  color: #F8F9FA;
  text-align: center;
  margin: 40px 0;
  padding: 5px 0;
  text-decoration: underline rgba(43, 47, 56, 0);
}
.semana .semana__playlist {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.mas-escuchadas {
  font-family: "Joan", sans-serif;
}
.mas-escuchadas .mas-escuchadas__titulo {
  background-color: #2B2F38;
  color: #F8F9FA;
  text-align: center;
  margin: 40px 0;
  padding: 5px 0;
  text-decoration: underline rgba(43, 47, 56, 0);
}
.mas-escuchadas .mas-escuchadas__playlist {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.usuarios {
  font-family: "Joan", sans-serif;
}
.usuarios .usuarios__titulo {
  background-color: #2B2F38;
  color: #F8F9FA;
  text-align: center;
  margin: 40px 0;
  padding: 5px 0;
  text-decoration: underline rgba(43, 47, 56, 0);
}
.usuarios .usuarios__playlist {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.contacto-redes {
  font-family: "Joan", serif;
}
.contacto-redes .contacto-redes__container .contacto-redes__titulo {
  color: #2B2F38;
  text-align: center;
  margin: 40px 0;
  padding: 5px 0;
}
.contacto-redes .contacto-redes__container .contacto-redes__acceso .contacto-redes__acceso__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 10px 0;
}
.contacto-redes .contacto-redes__container .contacto-redes__acceso .contacto-redes__acceso__item .contacto-redes__acceso__item__icono {
  grid-area: 1/1/2/2;
  display: flex;
  justify-content: flex-end;
  margin: 0 10px;
}
.contacto-redes .contacto-redes__container .contacto-redes__acceso .contacto-redes__acceso__item .contacto-redes__acceso__item__icono:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.contacto-redes .contacto-redes__container .contacto-redes__acceso .contacto-redes__acceso__item .contacto-redes__acceso__item__nombre {
  grid-area: 1/2/2/3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 10px;
}
.contacto-redes .contacto-redes__container .contacto-redes__acceso .contacto-redes__acceso__item .contacto-redes__acceso__item__nombre a {
  color: black;
}

.contacto-escribenos {
  font-family: "Joan", serif;
}
.contacto-escribenos .contacto-escribenos__titulo {
  color: #2B2F38;
  text-align: center;
  margin: 40px 0;
  padding: 5px 0;
}
.contacto-escribenos .contacto-escribenos__formulario {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 25%;
}

/*# sourceMappingURL=style.css.map */
