.articulo-destacado {
    font-family: $main-font;

    .articulo-destacado-box {
        display: flex;

        .articulo-destacado__imagen img {
            max-width: 100%;

            &:hover {
                transform: scale(1.02);
                transition: 0.2s;
            }

            @media (max-width: 950px) {
                max-width: 100%;
            }
        }

        .articulo-destacado__texto {
            @include flexbox(flex, column);
            justify-content: center;

            & p {
                font-size: large;
            }

            @media (max-width: 950px) {
                @include flexbox(flex, column);
                justify-content: center;
                flex-wrap: wrap;
            }

            .articulo-destacado__titulo {
                font-size: xx-large;
                margin: 20px;
                text-decoration: $no-hover-text;

                &:hover {
                    @extend %hover-text;
                }

                @media (max-width: 950px) {
                    margin: 0;
                }
            }

            .articulo-destacado__descripcion {
                font-size: large;
                margin: 20px;
                text-decoration: $no-hover-text;

                &:hover {
                    @extend %hover-text;
                }

                @media (max-width: 950px) {
                    display: none;
                }
            }
        }

        @media (max-width: 1000px) {
            @include flexbox(flex, column);
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-bottom: 25px;
        }
    }
}