* {
    padding: 0;
    margin: 0;
    font-family: $main-font;
}

body {
    background-color: $secondary-color;
}

li {
    list-style: none;
}

a {
    font-family: $main-font;
    color: $secondary-color;
    text-decoration: none;
}