.contacto-escribenos {
    font-family: $main-font;

    .contacto-escribenos__titulo {
        color: map-get($colors, main);
        text-align: center;
        margin: 40px 0;
        padding: 5px 0; 
    }

    .contacto-escribenos__formulario {
        @include flexbox(flex, row);
        justify-content: space-evenly;
        margin: 20px 25%;       
    }
}