.destacadas {
    font-family: $main-font;
    
    .noticia-principal-container {
        display: flex;

        .noticia-principal__imagen img {
            max-width: 100%;

            &:hover {
                transform: scale(1.02);
                transition: 0.2s;
            }

            @media (max-width: 950px) {
                max-width: 100%;
            }
        }

        .noticia-principal__texto {
            @include flexbox(flex, column);
            justify-content: center;

            & p {
                font-size: large;
            }

            @media (max-width: 950px) {
                @include flexbox(flex, column);
                justify-content: center;
                flex-wrap: wrap;
            }

            .noticia-principal__titulo {
                font-size: xx-large;
                margin: 20px;
                text-decoration: $no-hover-text;

                &:hover {
                    @extend %hover-text;
                }

                @media (max-width: 950px) {
                    margin: 0;
                }
            }

            .noticia-principal__descripcion {
                font-size: large;
                margin: 20px;
                text-decoration: $no-hover-text;

                &:hover {
                    @extend %hover-text;
                }

                @media (max-width: 950px) {
                    display: none;
                }
            }
        }

        @media (max-width: 1000px) {
            @include flexbox(flex, column);
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-bottom: 25px;
        }
    }

    .noticias-destacadas {
        @include flexbox(flex, row);
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        
        .noticia-destacada__item {
            @include flexbox(flex, row);

            .noticia-destacada__item__imagen {
                .noticia-destacada__img {
                    max-height: 75px;
                }
            }

            .noticia-destacada__item__titulo {
                .noticia-destacada__titulo {
                    text-decoration: $no-hover-text;
                    font-size: large;

                    &:hover {
                        @extend %hover-text;
                    }
                }
            }

            @media (max-width: 950px) {
                @include flexbox(flex, row);
                flex-wrap: wrap;
            }
        }

        @media (max-width: 950px) {
            margin: 20px 0;
        }
    }
}
