.otros-articulos {
    font-family: 'Joan', serif;

    .otros-articulos__primera-fila {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 50px;
        text-align: center;
        margin: 100px 0;

        .otros-articulos__primera-fila__item {

            .otros-articulos__primera-fila__item__imagen {
                height: 200px;

                &:hover {
                    transform: scale(1.02);
                    transition: 0.2s;
                }
            }

            .otros-articulos__primera-fila__item__titulo {
                text-decoration: underline rgba(43, 47, 56, 0);

                &:hover {
                    text-decoration-color: rgba(43, 47, 56, 1);
                    transition: 0.2s;
                }
            }

            .otros-articulos__primera-fila__item__autor {
                text-decoration: underline rgba(43, 47, 56, 0);

                &:hover {
                    text-decoration-color: rgba(43, 47, 56, 1);
                    transition: 0.2s;
                }
            }
        }
    }

    .otros-articulos__resto {
        margin: 45px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 100px;
        text-align: center;
        margin: 50px 0;

        .otros-articulos__resto__item {
            
            .otros-articulos__resto__item__imagen {
                height: 175px;

                &:hover {
                    transform: scale(1.02);
                    transition: 0.2s;
                }
            }

            .otros-articulos__resto__item__titulo {
                text-decoration: underline rgba(43, 47, 56, 0);

                &:hover {
                    text-decoration-color: rgba(43, 47, 56, 1);
                    transition: 0.2s;
                }
            }

            .otros-articulos__resto__item__autor {
                text-decoration: underline rgba(43, 47, 56, 0);
                
                &:hover {
                    text-decoration-color: rgba(43, 47, 56, 1);
                    transition: 0.2s;
                }
            }
        }
    }
}