.mas-escuchadas {
    font-family: $main-font;

    .mas-escuchadas__titulo {
        background-color: map-get($colors, main);
        color: map-get($colors, main);
        text-align: center;
        margin: 40px 0;
        padding: 5px 0;
    }

    .mas-escuchadas__playlist {
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
    }
}