.usuarios {
    font-family: $main-font;

    .usuarios__titulo {
        background-color: map-get($colors, main);
        color: map-get($colors, secondary);
        text-align: center;
        margin: 40px 0;
        padding: 5px 0;
    }

    .usuarios__playlist {
        margin-bottom: 40px;
        display: flex;
        justify-content: center;

    }
}