.recientes {
    font-family: $main-font;

    .recientes__titulo {
        background-color: map-get($colors, main);
        color: map-get($colors, secondary);
        font-size: x-large;
        text-align: center;
        margin: 40px 0;
        padding: 5px 0;
    }    

    .recientes__contenido {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;

        .recientes__contenido__item {
            display: flex;
            margin: 20px 0;

            .recientes__contenido__item__imagen {

                img {
                    height: 150px;

                    &:hover {
                        transform: scale(1.02);
                        transition: 0.2s;
                    }
                }
            }

            .recientes__contenido__item__texto {
                margin: 0 20px;
                @include flexbox(flex, column);
                justify-content: center;
                text-decoration: $no-hover-text;

                .recientes__contenido__item__texto__titulo {
                    font-size: x-large;
                    text-decoration: $no-hover-text;

                    &:hover {
                    @extend %hover-text;
                    
                    }
                }

                .recientes__contenido__item__texto__autor {
                    font-size: small;
                    text-decoration: $no-hover-text;

                    &:hover {
                    @extend %hover-text;
                    
                    }
                }

                .recientes__contenido__item__texto__resumen {
                    text-decoration: $no-hover-text;

                    &:hover {
                    @extend %hover-text;
                    
                    }
                }
            }

            @media (max-width: 950px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
            }

        }
    }
}