.resenas-home {
    font-family: $main-font;
    .resenas-home-barra {
        .resenas {
            background-color: map-get($colors, main);
            color: map-get($colors, secondary);
            font-family: $main-font;
            text-align: center;
            margin: 50px 0;
            padding: 5px 0;
            font-size: x-large;
        }
    }

    .resenas-home-container {
        .resenas__albumes {
            margin: 50px 0;
            text-align: center;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            grid-template-rows: 1fr;
            row-gap: 20px;

            .resena__album {
                & img {
                    max-height: 250px;
                    max-width: 250px;

                    &:hover {
                        transform: scale(1.02);
                        transition: 0.2s;
                    }

                    @media (max-width: 950px) {
                        max-width: 100%; 
                    }
                }

                & h3 {
                    text-decoration: $no-hover-text;

                    &:hover {
                        @extend %hover-text;
                    }
                }

                & p {
                    text-decoration: $no-hover-text;

                    &:hover {
                        @extend %hover-text;
                    }
                }
            }
        }
    }
}