.resenas {
    background-color: $main-color;
    color: $secondary-color;
    font-family: $main-font;
    text-align: center;
    margin: 50px 0;
    padding: 5px 0;
    font-size: x-large;
}

.resena__album h3, .resena__album p {
    text-decoration: $no-hover-text;
}

.resena__album h3:hover, .resena__album p:hover {
    text-decoration-color: $hover-text;
    transition: 0.2s;
}

.resena__album img {
    max-height: 250px;
    max-width: 250px;
}

.resena__album img:hover {
    transform: scale(1.02);
    transition: 0.2s;
}

.resenas__albumes {
    margin: 50px 0;
    text-align: center;
}

.resenas__albumes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: 1fr;
    row-gap: 20px;
    }

@media (max-width: 950px) {
    .resena__album img {
        max-width: 100%;
    }
}