.contacto-escribenos {
    font-family: 'Joan', serif;

    .contacto-escribenos__titulo {
        color:#2B2F38;
        text-align: center;
        margin: 40px 0;
        padding: 5px 0; 
    }

    .contacto-escribenos__formulario {
        display: flex;
        justify-content: space-evenly;
        margin: 20px 25%;       
    }
}