/* Usar la siguiente paleta de colores: https://coolors.co/palette/2b2f38-2f343e-3b404b-474b57-585b66-676a74-757881-82848c-8d8f96-9799a0 */

$colors: (
    main: #2B2F38,
    secondary: #F8F9FA,
    footer: #585B66
);